<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key ="cnstr" value="data source=LAPTOP-F5BLCG31\SQLEXPRESS; initial catalog=AtmDB; integrated security=true;"/>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>